<th:block xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
          th:fragment="header">
    <!-- Header -->
    <header id="wn__header" class="header__area header__absolute sticky__header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-6 col-lg-2">
                    <div class="logo">
                        <a th:href="@{/}">
                            <img th:src="@{/images/logo/logo.png}" alt="logo images">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8 d-none d-lg-block">
                    <nav class="mainmenu__nav">
                        <ul class="meninmenu d-flex justify-content-start">
                            <li class="drop with--one--item"><a th:href="@{/}">Home</a>

                            </li>
                            <li class="drop"><a th:href="@{/shop}">Shop</a></li>
                            <li class="drop"><a href="#">Books</a>
                                <div class="megamenu mega03">
                                    <ul class="item item03">
                                        <li class="title">Categories</li>
                                        <li><a th:href="@{/shop?categories=1}">Biography </a></li>
                                        <li><a th:href="@{/shop?categories=2}">Business </a></li>
                                        <li><a th:href="@{/shop?categories=3}">Cookbooks </a></li>
                                        <li><a th:href="@{/shop?categories=4}">Health & Fitness </a></li>
                                        <li><a th:href="@{/shop?categories=5}">History </a></li>
                                    </ul>
                                    <ul class="item item03">
                                        <li class="title">Customer Favourite</li>
                                        <li><a th:href="@{/shop?categories=6}">Mystery</a></li>
                                        <li><a th:href="@{/shop?categories=7}">Religion & Inspiration</a></li>
                                        <li><a th:href="@{/shop?categories=8}">Romance</a></li>
                                        <li><a th:href="@{/shop?categories=9}">Fantasy</a></li>
                                        <li><a th:href="@{/shop?categories=10}">Sleeveless</a></li>
                                    </ul>
                                    <ul class="item item03">
                                        <li class="title">Collections</li>
                                        <li><a th:href="@{/shop?categories=11}">Science </a></li>
                                        <li><a th:href="@{/shop?categories=12}">Harry Potter</a></li>
                                        <li><a th:href="@{/shop?categories=13}">Self-Improvemen</a></li>
                                        <li><a th:href="@{/shop?categories=14}">Home & Garden</a></li>
                                        <li><a th:href="@{/shop?categories=15}">Humor Books</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="drop"><a th:href="@{/blog}">Blog</a></li>
                            <li><a th:href="@{/contact}">Contact</a></li>
                        </ul>
                    </nav>
                </div>

                <div class="col-md-6 col-sm-6 col-6 col-lg-2" sec:authorize="!isAuthenticated()">
                    <div class="col-lg-8 d-none d-lg-block">
                        <nav class="mainmenu__nav">
                            <ul class="meninmenu d-flex justify-content-start">
                                <li><a th:href="@{/login}">Login</a></li>
                                <li><a th:href="@{/register}">Register</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 col-6 col-lg-2" sec:authorize="isAuthenticated()">
                    <ul class="header__sidebar__right d-flex justify-content-end align-items-center">
                        <li class="shop_search"><a class="search__active" href="#"></a></li>
                        <li class="wishlist"><a th:href="@{/cart/wishlist}"></a></li>
                        <li class="shopcart"><a th:onclick="getMinicarts()"  class="cartbox_active" th:href="@{/cart}"></a>
                            <!-- Start Shopping Cart -->
                            <div class="block-minicart minicart__active" id="startShoping"></div>
                            <!-- End Shopping Cart -->
                        </li>
                        <li class="setting__bar__icon"><a class="setting__active" href="#"></a>
                            <div class="searchbar__content setting__block">
                                <div class="content-inner">
                                    <div class="switcher-currency">
                                        <!--<strong class="label switcher-label">-->
                                            <!--<span>Currency</span>-->
                                        <!--</strong>-->
                                        <!--<div class="switcher-options">-->
                                            <!--<div class="switcher-currency-trigger">-->
                                                <!--<span class="currency-trigger">USD - US Dollar</span>-->
                                                <!--<ul class="switcher-dropdown">-->
                                                    <!--<li>GBP - British Pound Sterling</li>-->
                                                    <!--<li>EUR - Euro</li>-->
                                                <!--</ul>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    </div>
                                    <div class="switcher-currency">
                                        <!--<strong class="label switcher-label">-->
                                            <!--<span>Language</span>-->
                                        <!--</strong>-->
                                        <!--<div class="switcher-options">-->
                                            <!--<div class="switcher-currency-trigger">-->
                                                <!--<span class="currency-trigger">English01</span>-->
                                                <!--<ul class="switcher-dropdown">-->
                                                    <!--<li>English02</li>-->
                                                    <!--<li>English03</li>-->
                                                    <!--<li>English04</li>-->
                                                    <!--<li>English05</li>-->
                                                <!--</ul>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    </div>
                                    <div class="switcher-currency">
                                        <!--<strong class="label switcher-label">-->
                                            <!--<span>Select Store</span>-->
                                        <!--</strong>-->
                                        <!--<div class="switcher-options">-->
                                            <!--<div class="switcher-currency-trigger">-->
                                                <!--<span class="currency-trigger">Fashion Store</span>-->
                                                <!--<ul class="switcher-dropdown">-->
                                                    <!--<li>Furniture</li>-->
                                                    <!--<li>Shoes</li>-->
                                                    <!--<li>Speaker Store</li>-->
                                                    <!--<li>Furniture</li>-->
                                                <!--</ul>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    </div>
                                    <div class="switcher-currency">
                                        <strong class="label switcher-label">
                                            <span>SETTINGS</span>
                                        </strong>
                                        <div class="switcher-options">
                                            <div class="switcher-currency-trigger">
                                                <div class="setting__menu">
                                                    <span><a th:href="@{/user/profile}">My Account</a></span>
                                                    <span><a th:href="@{/logout}">Logout</a></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Start Mobile Menu -->
            <div class="row d-none">
                <div class="col-lg-12 d-none">
                    <nav class="mobilemenu__nav">
                        <ul class="meninmenu">
                            <li><a th:href="@{/}">Home</a>
                                <ul>
                                    <li><a href="index.html">Home Style Default</a></li>
                                    <li><a href="index.html">Home Style Two</a></li>
                                    <li><a href="index-box.html">Home Box Style</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Pages</a>
                                <ul>
                                    <li><a href="about.html">About Page</a></li>
                                    <li><a href="portfolio.html">Portfolio</a>
                                        <ul>
                                            <li><a href="portfolio.html">Portfolio</a></li>
                                            <li><a href="portfolio-three-column.html">Portfolio 3 Column</a></li>
                                            <li><a href="portfolio-details.html">Portfolio Details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="my-account.html">My Account</a></li>
                                    <li><a href="cart.html">Cart Page</a></li>
                                    <li><a href="checkout.html">Checkout Page</a></li>
                                    <li><a href="wishlist.html">Wishlist Page</a></li>
                                    <li><a href="error404.html">404 Page</a></li>
                                    <li><a href="faq.html">Faq Page</a></li>
                                    <li><a href="team.html">Team Page</a></li>
                                </ul>
                            </li>
                            <li><a href="shop-grid.html">Shop</a>
                                <ul>
                                    <li><a href="shop-grid.html">Shop Grid</a></li>
                                    <li><a href="shop-list.html">Shop List</a></li>
                                    <li><a href="shop-left-sidebar.html">Shop Left Sidebar</a></li>
                                    <li><a href="shop-right-sidebar.html">Shop Right Sidebar</a></li>
                                    <li><a href="shop-no-sidebar.html">Shop No sidebar</a></li>
                                    <li><a href="single-product.html">Single Product</a></li>
                                </ul>
                            </li>
                            <li><a href="blog.html">Blog</a>
                                <ul>
                                    <li><a href="blog.html">Blog Page</a></li>
                                    <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                    <li><a href="blog-no-sidebar.html">Blog No Sidebar</a></li>
                                    <li><a href="blog-details.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- End Mobile Menu -->
            <div class="mobile-menu d-block d-lg-none">
            </div>
            <!-- Mobile Menu -->
        </div>
    </header>
    <!-- //Header -->
</th:block>

<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="search">
    <div class="box-search-content search_active block-bg close__top">
        <form id="search_mini_form" class="minisearch" action="#">
            <div class="field__search">
                <input type="text" placeholder="Search entire store here...">
                <div class="action">
                    <a href="#"><i class="zmdi zmdi-search"></i></a>
                </div>
            </div>
        </form>
        <div class="close__wrap">
            <span>close</span>
        </div>
    </div>
</th:block>