<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="imports">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home Two | Bookshop Responsive Bootstrap4 Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicons -->
    <link rel="shortcut icon" th:href="@{images/favicon.ico}">
    <link rel="apple-touch-icon" th:href="@{images/icon.png}">

    <!-- Google font (font-family: 'Roboto', sans-serif; Poppins ; Satisfy) -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,600,600i,700,700i,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!-- Stylesheets -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/plugins.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <!-- Custom css -->
    <link rel="stylesheet" th:href="@{css/custom.css}">
</th:block>


<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="js-imports">
    <!-- Modernizer js -->
    <script th:src="@{/js/vendor/modernizr-3.5.0.min.js}"></script>

    <!-- JS Files -->
    <script th:src="@{/js/vendor/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/plugins.js}"></script>
    <script th:src="@{/js/active.js}"></script>
    <script  th:inline="javascript" th:if="${message !=null}">
        $(function () {
            alert(/*[[${message}]]*/);

        });
    </script>
</th:block>

